torch
torchvision
torchaudio
torchtext
streamlit
opencv-python
transformers
datasets 
tiktoken 
onnxruntime
Pillow
imageio
ultralytics
scikit-learn
scikit-image
acids-rave
open_clip_torch
streamlit-drawable-canvas
mediapipe
